*.ncb
*.suo
*.bak
*~
*.swp
*/\#*\#
*.orig
*.rej
*.aps
*.d
*.ko
*.o
*.pyc
*.old
*.user
*.mod.c
.*.cmd
.tmp_versions
.reviewboardrc
BuildLog.htm
build.log
builder.log.*
cscope.*
Module.*
modules.*
tags
TAGS
GPATH
GRTAGS
GTAGS

# Domain-specific files

sockapi-ts/doxygen.warn
sockapi-ts/doc/html
sockapi-ts/doc/doxygen_sqlite3.db
build/
html/
Makefile.in
aclocal.m4
autom4te.cache
auxdir
configure
sockapi-ts/package.h.in
config.h.in
talib_sockapi_ts/onload
talib_sockapi_ts/extensions_timestamping.h
talib_sockapi_ts/extensions.h
talib_sockapi_ts/extensions_zc.h
talib_sockapi_ts/extensions_zc_hlrx.h
talib_sockapi_ts/test_intf.h
talib_sockapi_ts/etherfabric
talib_sockapi_ts/copied_headers
talib_sockapi_ts/onload_profiles
gpl_tools/ceph/onload
gpl_tools/ceph/etherfabric
tmp_raw_log
builder.log.sockapi-ts.1
builder.log.sockapi-ts.2
log.txt
log_plain.xml
log_struct.xml
ta.Agt_*
ta.LogListener
ta.list
ta_cores.*
trc-report.html
trc-brief.html
